/* import */
@import "../css/components/my-money.css";
@import "../css/components/my-drinks.css";
@import "../css/components/vending-machine.css";
@import "../css/screens/pc.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* setting */
* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* style */
body {
  background-color: #eae8fe;
}

.header > h1 {
  text-align: center;
}

.wrapper {
  /* background-color: #6327fe; */
  display: flex;
}

.vending-machine {
  background-color: #fff;
  width: 360px;
  height: 545px;
}

.my-page {
  width: 360px;
}

.purple-container {
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  background-color: #eae8fe;
}
