/* reset */
body,
h1,
h2,
h3,
h4,
ul,
li,
button,
p,
a {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

button {
  border: 0;
  background-color: transparent;
}

ul {
  list-style: none;
}

/* settings */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.txt-ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.txt-hidden {
  // 웹표준 지키는 용도의 텍스트만 입력
}

/* components */
.wrapper {
  width: 768px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.cont-money {
  background-color: #eae8fe;
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.list-drinks {
  background-color: #eae8fe;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  overflow-y: scroll;
}

/* design */
body {
  background-color: #eae8fe;
  font-size: 1.4rem;
}

.header {
  text-align: center;
}

.header h1 {
  margin-bottom: 67px;
}

.machine,
.myPage {
  width: 360px;
}

/* 자판기 시작 */
.machine {
  background-color: #fff;
  padding: 31px 27px 28px;
  box-sizing: border-box;
}

// 전시된 상품
.list-drinkBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.btn-item {
  position: relative;
  overflow: hidden;
  width: 94px;
  padding: 9px 12px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.selected .btn-item {
  outline: solid 3px #6327fe;
}

.sold-out .btn-item::before {
  content: "품절";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/svg/Sold-out.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: transparent;
}

.btn-item .name {
  font-size: 10px;
  line-height: 100%;
  margin: 6px 0 6px;
}

.btn-price {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: #6327fe;
  color: #fff;
  font-size: 12px;
  border-radius: 50px;
  font-weight: normal;
  line-height: 100%;
}

/* 자판기 끝 */

/* 마이페이지 시작 */
.myPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// 소지금
.myMoney {
  background-color: #fff;
  padding: 9px 27px;
}

// 획득한 음료
.myDrinks {
  background-color: #fff;
  padding: 25px 27px;
}

.myDrinks > h2 {
  margin-bottom: 13px;
  text-align: center;
  font-weight: 700;
}

.list-myDrinks {
  height: 364px;
}

.cont-totalMoney {
  margin: 6px 0;
  text-align: right;
}

/* 마이페이지 끝 */

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 360px;
    background-color: #fff;
    flex-direction: column;
  }
  .header h1 {
    margin-bottom: 18px;
  }
  .logo {
    width: 166px;
  }
  .cont-totalMoney {
    margin-bottom: 18px;
    text-align: right;
  }
}
