.my-page .my-drink {
  margin-top: 20px;
  padding: 25px 27px;
  background-color: #fff;
}

.my-page .my-drink h3 {
  text-align: center;
  font-weight: 700;
}

.my-drink .drink-list.mine {
  margin: 13px auto 6px auto;
  width: 306px;
  height: 364px;
}

.my-drink .total-amount {
  text-align: end;
}
