.vending-machine {
  padding: 31px 27px 27px 28px;
  background-color: #fff;
  width: 360px;
}

/* 판매 음료 리스트 시작 */
.vending-machine .list-on-sale {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.vending-machine .list-on-sale li {
  position: relative;
  overflow: hidden;
  padding: 10px 11px 9px 11px;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  text-align: center;
}

.vending-machine .list-on-sale li.selected {
  outline: solid 3px #6327fe;
}

.vending-machine .list-on-sale li.sold-out::after {
  content: "품절";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/svg/Sold-out.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: transparent;
}

.vending-machine .list-on-sale li .img-cola {
  width: 36px;
}

.vending-machine .list-on-sale li .name {
  font-size: 9px;
  margin-bottom: 5px;
}

.vending-machine .list-on-sale li button {
  width: 100%;
  border: 0;
  border-radius: 50px;
  color: #fff;
  background-color: #6327fe;
  font-size: 12px;
  line-height: 20px;
}
/* 판매 음료 리스트 끝 */

/* 자판기 컨트롤 시작 */
.vending-machine .machine-controls {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 32px 32px 106px;
  gap: 11px;
  margin-top: 20px;
}

.vending-machine .machine-controls button {
  padding: 0 5px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  font-size: 13px;
}

.vending-machine .machine-controls button.button-get {
  background-color: #6327fe;
  color: #fff;
}

.vending-machine .machine-controls .insert {
  padding: 6px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
/* 자판기 컨트롤 끝 */
